.projects-container {
    background-color: #3a3a3a;
    color: white;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
    margin: 2.5%;
}

.projects-list {
    text-align: center;
}

.project-title {
    color: rgb(255, 255, 255);
    font-family: 'Roboto Slab', serif;
    font-weight: bolder;
    font-size: 16pt;
}

.underline {
    text-decoration: underline;
}

.green {
    margin: 1% auto;
}