.main-container {
    background-color: #3a3a3a ;
    color: white;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
    margin: 2.5%;
}

.main-title {
    font-family: 'Roboto Slab', serif;
}

.main-img {
    border-radius: 20px;
    width: 100%;
    position: relative;
    top: 0%;
    right: 0%;
    margin: 0px 0px 15px 0px;
}

.main-text {
    color: white;
    font-size: 15pt;
    text-align: justify;
    line-height: 1.5;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

.button-collapse {
    display: none !important;
}

@media only screen and (max-width: 767px) {
    .main-text {
        text-align: justify;
    }
    .button-collapse {
        display: block !important;
    }
}
