.resume-container {
    background-color: #3a3a3a;
    color: white;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
    margin: 2.5%;
}

.resume-list {
    text-align: center;
    font-size: 15pt;
}

.resume-link {
    color: rgb(31, 206, 197);
}

.code-wars {
    display: block;
    margin: auto;
}

@media only screen and (max-width: 767px) {
    .resume-title {
        font-size: 1.25em;
    }
}