.contact-container {
    background-color: #3a3a3a;
    color: white;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
    margin: 2.5%;
}

.contact-box {
    display: block;
    margin: 0px 10%;
    background-color: #4e4e4e;
    padding: 10px;
    border: solid white 2px;
    border-radius: 10px;
}

::-webkit-input-placeholder {
    font-size: 25px;
    color: white;
}

 :-moz-placeholder { /* Firefox 18- */
    font-size: 25px;
    color: white;
}

::-moz-placeholder {  /* Firefox 19+ */
    font-size: 25px;
    color: white;
}

:-ms-input-placeholder {
    font-size: 25px;
    color: white;
}

@media only screen and (max-width: 768px) {
    .contact-box {
        margin: 0 auto;
    }
}